body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #ff0000;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    overflow: hidden;

}

.content {
    /* Regola il punto da cui il sito parte per evitare che */
    /* il testo e la barra di navigazione si sovrappongano subito */
    margin-top: 60px;

    /* Altri stili per il contenuto del CV */
}

h1 {
    float: left;
    width: 400px;
}
